body,html,#root{
    font-family: 'Poppins', sans-serif!important;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}
.welcome-page-inner{
    background: url('img/bg-color.svg') center center no-repeat;
    background-size: cover;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.welcome-logo {
    width: 15rem;
    margin-top: 3rem;
}

.welcome-heading {
    font-size: var(--font-size-1);
    color: var(--color-heading);
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 24px;
}

.welcome-tagline {
    font-size: var(--font-size-3);
    color: var(--color-body);
    margin-top: 16px;
}

.welcome-description {
    font-size: 1rem;
    color: var(--color-body);
    margin: 20px 0;
}

.start-button {
    background: var(--color-primary);
    color: #fff;
    font-size: var(--font-size-2);
    border-radius: 50px;
    padding: 1.2rem 3rem;
    border: none;
    margin-top: 2rem;
    outline: none;
    margin-bottom: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
    background: #c64d65; /* Slightly darker for hover */
    cursor: pointer;
}



/*/////// LOGIN PAGE //////////*/
.login-content {
    --background: #fffaf9;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
    height: 100%;
    justify-content: space-between;
}

.login-tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: var(--font-size-2);
    position: relative;
}

.active-tab {
    border-bottom: 3px solid #c97e79;
    padding-bottom: 4px;
    color: #000;
}

.inactive-tab {
    color: #bbb;
}

.logo-wrapper {
    text-align: center;
    margin-top: 40px;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.logo-tagline {
    font-size: 14px;
    margin-top: 8px;
    color: #444;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    margin-top: 40px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.input-icon {
    font-size: var(--font-size-2);
    margin-right: 10px;
    color: #c97e79;
}

.custom-input {
    border: none;
    flex: 1;
    font-size: 16px;
    color: #333;
}

.continue-btn {
    background: #c97e79;
    border-radius: 20px;
    margin-top: 24px;
    font-weight: bold;
    font-size: var(--font-size-2);
    text-transform: none;
}

.partner-login {
    margin-top: 20px;
    font-size: var(--font-size-4);
    color: #444;
}

.footer-links {
    margin-top: auto;
    font-size: var(--font-size-3);
    color: #888;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.footer-links a {
    color: #666;
    text-decoration: none;
}

/*/////// LOGIN PAGE //////////*/

